<% include partials/header %>
<div class="container">
  <header class = 'jumbotron'>
    <div class="container jumbo">
      <h1 class="jumb">Welcome to Mealshare!</h1>
      <p class="jumb">Delicious meals shared by passionate cooks</p>
      <a class="btn btn-lg btn-primary" href="/meals/new">Add Recipe!</a>
    </div>
  </header>
</div>
<div class="container">
  <div class="row text-center" style="display: flex; flex-wrap: wrap;s">
    <% meals.forEach(function (meal) { %>
      <div class="col-md-3 col-sm-6">
        <div class="img-thumbnail listed">
          <div class="card">
            <img class='img-fluid' src='<%= meal.image %>'>
          </div>
          <h5 class="caption"><%= meal.name %></h4>
          <a class="btn btn-primary" href="/meals/<%= meal._id %>">More Info</a>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
<% include partials/footer %>
