<% include partials/header %>
<div class="header-index">
  <div class="dark-index"></div>
  <div class="bgimage-index"></div>
</div>
<div class="content">
  <div class="head-text">
    <p class="jumb">Delicious meals shared by passionate cooks</p>
    <hr class="hrline">
    <a class="block"  href="/meals/new"><button class="btn-custom">Add a Recipe!</button></a>
  </div>
  <div class="row text-center" style="display: flex; flex-wrap: wrap;s">
    <% meals.forEach(function (meal) { %>
      <div class="col-md-3 col-sm-6">
        <a href="/meals/<%= meal._id %>">

          <div class='img-tag'>
          <img class='img-fluid img-file' src='<%= meal.image %>'>
          </div>
        </a>
      </div>
      <% }); %>
    </div>
  </div>
<% include partials/footer %>
