<% include partials/header %>
<div class="head">
    <div class="intro">
      <h1 class="landing">Mealshare</h1>
      <p class="landing">Learn & Share recipes!</p>
      <hr class="hrline">
      <a class="block"  href="/meals"><button class="btn-custom">Start</button></a>
    </div>
    <div class="dark"></div>
    <div class="image">
      <div class="bgimages"  style="background-image: url('/bgImages/img02.jpg')"></div>
      <div class='bgimages'  style="background-image: url('/bgImages/img01.jpg')"></div>
      <div class='bgimages'  style="background-image: url('/bgImages/img03.jpg')"></div>
      <div class='bgimages fadeOut'  style="background-image: url('/bgImages/img04.jpg')"></div>
    </div>
    </div>
<script type="application/javascript" src="/bgImages/slideshow.js"></script>
<% include partials/footer %>