<% include partials/header %>
<div class="bgform alt scroller">
<div class="container container-body">
  <div class="row">
    <div id="head-splitter" class="formtype">
      <form action="/meals/<%= meal._id %>/comment/new" method="post">
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" id="txtarea" rows="5" name="description"></textarea>
        </div>
        <div class="form-group">
          <button class="btn-custom">Submit</button>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>
<% include partials/footer %>
